.board-show-filler {
  background-color: #1574c1;
  padding: 5px;
}
.board-content {
  display: flex;
  height: 90vh;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.list-index-container {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.list-index-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#list-index-title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}