
.footer-container-session{
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;

}

.footer-container-session > ul {
  list-style-type: none;
  overflow: hidden;
  padding: 2px;
}

.footer-container-session > ul > li {
  display: inline;
  margin: 5px;
  font-size: 1.0rem;
}

.footer-container-session > ul > li > a {
  display: inline-block;
  margin: 5px;
  font-size: 1.4rem;
  text-decoration: none;
  color: #234074;
}

footer > ul > li > a:hover {
  color: #024166;
  text-decoration: underline;
}

.footer-div-session {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
}

.footer-div-session h1 {
  display: block;
  font-size: 1.5rem;
  color: #172b4d;
  font-weight: bold;
  cursor: default;
}

.footer-div-session > a {
  display: block;
  padding: 0.5rem;
  text-align: center;
  font-size: 20px;
  color: rgb(128, 138, 155);
  margin: 1rem;
  margin-bottom: 3rem;
  font-size: 1rem;
  text-decoration: none;
}

.footer-div-session > a:hover {
  color:rgb(92, 99, 110);
  text-decoration: underline;
}

footer a svg {
   margin-right: 4px;
}