.greeting-navbar {
  width: 100%;
  height: 60px;
  background-color: #1574c1;
  position: fixed;
  overflow: hidden;
  top: 0;
}

.greeting-navbar > .greeting-div {
  margin-top: 10px;
}

.greeting-navbar > .greeting-div > .greeting-div-right {
  display:flex;
  justify-content: flex-end;
  .invis-button {
    background-color: transparent;
    border: none;
  }
}

.greeting-navbar > .greeting-div > .greeting-div-right > button {
  padding: 8px;
  font-size: medium;
  width: 200 px;
  font-family: Arial, Helvetica, sans-serif;
  // border-style: none;
  border-radius: 4px;
  background-color: white;
  border-color: white;
  color: 1574c1;
}
.greeting-navbar > .greeting-div > .greeting-div-right > button:last-child {
  margin-right: 15px;
}

.greeting-navbar > .greeting-div > .greeting-div-left > a {
  font-size: 2.5rem;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
  color: white
}