.navbar-nav {
  z-index: 100;
  width: 100%;
  height: 60px;
  background-color: #1574c1;
  position: fixed;
  overflow: hidden;
  top: 0;
}

.navbar-logo {
  margin-top: 10px;
  font-size: 2.5rem;
  float: left;
  font-family: cursive;
  margin-left: 2rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.navbar-links {
  margin-top: 10px;
  display:flex;
  justify-content: flex-end;
}

.navbar-btn {
  padding: 10px;
  font-size: medium;
  width: 200 px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
  background-color: white;
  border-color: white;
  color: #1574c1;
  font-weight: bold;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

.navbar-btn:hover {
  text-decoration: underline;
  transform: scale(1.1);
  color: turquoise;
}

.navbar-btn:first-child {
  background-color: transparent;
  border: none;
  color: white;
}
.navbar-btn:first-child:hover {
  text-decoration: underline;
  transform: scale(1.1);
  color: turquoise;
}

.navbar-btn:last-child {
  margin-right: 15px;
}

.navbar-welcome {
  margin-top: 5px;
  float: right;
}

.navbar-welcome > span {
  color:white;
}

.navbar-welcome > button {
  padding: 8px;
  font-size: medium;
  width: 200 px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
  background-color: white;
  border-color: white;
  color: #1574c1;
}

.navbar-welcome > button:last-child {
  margin-right: 15px;
}



