.board-menu {
  position: fixed;
  height: 100%;
  right: 0;
  top: 41px;
  width: 300px;
  background: whitesmoke;
}

.menu-title {
  padding: 10px;
  color: grey;
  font-size: 21px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-bottom: 1px solid lightgrey;
}

.menu-user {
  padding: 10px;
  color: grey;
  font-size: 21px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-bottom: 1px solid lightgrey;
}

.menu-title > button {
  top: 47.5px;
  background: transparent;
  border-radius: 4px;
  position: fixed;
  right: 5px;
  outline: none;
  border: none;
  padding: 0 10px 1px 10px;
  font-size: 21px;
  color: grey;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 26px;
}

.menu-title > button:hover {
  background: rgba(0,0,0,0.2);
}

.menu-delete{
  padding: 8px 20px;
  display: flex;
  flex-direction: column;
  height: 82%;
}

#delete-button{
  align-self: flex-end;
  margin: auto auto 0 auto;
  padding: 10px 20px;
  outline: none;
  cursor: pointer;
  background: rgb(190, 0, 0);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

#delete-button:hover {
  background: rgb(130, 0, 0);
}

.menu-links {
    text-align: left;
    line-height: 175%;

    ul {
      margin-left: 10px;
      margin: 10px;
      justify-content: space-between;

      li a {
        color: #1f3a68;
      }
      li a svg {
        margin-right: 7px;
      }
      li a:hover {
        color: #4070c2;
      }
    }
}